*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px ;
}
.border{
    border: 1.5px solid transparent;

}
.border:hover{
    border: 2px solid white;
}

/**box2**/
.add-first{
    color:#cccccc;
    font-size: 0.5rem;
    margin-left: 15px;

}

.add-second{
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.flag{
     width: 45px;
    
    border: none;
   
}
.select-flag{
     background-color: #0f1111;
         height: 40px;
     text-align: center;
    font-size: 1.2rem;
    color: white;
    border: none;
}

/**box4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**panal**/

.panal{
    height: 50px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panal-ops p{
    display: inline;
    margin-left: 10px;
}
.panal-ops{
    width: 70%;
    font-size: 0.90rem;
}
.panal-deals{
    height: 40px;  
}
.deals{
    background-image: url("deals.jpg");
    background-size: cover;
    height: 40px;
    width: 500px ;
}
/**hero-section**/

.hero-section{
    background-image: url(hero.jpg);
    background-size: cover;
    height: 360px;
    width: 1350px;
}

/**Shop Section**/
.shop-section{
    display: flex;
   justify-content: space-evenly;
   background-color: #ff7f2a;
}
.box{
   border: 2px solid black;
   height: 350px; 
   width: 24%;
   background-color: white;
}
.home1{
    display: flex;
    flex-wrap: wrap;
}
.home2{
    display: flex;
    flex-wrap: wrap;
}
.shop-home1{
    background-size: cover;
    height: 100px;
    width: 140px;
    margin-left: 12px;
}
.shop-home2{
    background-size: cover;
    height: 100px;
    width: 140px;
    margin-left: 15px;
}
.box-content p{
    font-size: 0.85rem; 
    text-align: center; 
    margin-left: 12px;  
}
.box-end{
    margin-top: 12px;
    text-align: left ;
    color: #2162a1;
}


/**footer**/
footer{
    margin-top: 15px;
}
.foot-panal{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panal2{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
    
}
ul a{
    text-decoration: none;
    display: block;
    font-size: 0.82rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panal3{
    background-color:#222f3d;
    color: white;
    border-top:0.5px solid white;
    display: flex;
    justify-content:center;
    text-align: center;
}
.foot-panal4{
    background-color:#0f1111;
    color: white;
    border-top:0.5px solid white;
    height: 100px;
    color: white;
    text-align: center;
       
}
.pages{
    text-decoration: none;
    padding: 25px;

}
.copyright{
    padding: 5px;
   
}
